<div class="create_coursesModule mt5 ms-5 mb-5">
    <h1 class="mt-5 text-center" style="color: black;">Tạo Lesson của khóa học Module</h1>
    <form method="post" action="/courses/storedlesson">
  <div class="mb-3">
    <label for="createModule" class="form-label">Tên Lesson</label>
    <input type="text" class="form-control" id="createModule" aria-describedby="emailHelp" name="name">
  </div>
  <div class="mb-3">
    <label for="createModule" class="form-label">Mô tả</label>
    <input type="text" class="form-control" id="createModule" aria-describedby="emailHelp" name="description">
  </div>
  <div class="mb-3">
    <label for="createModule" class="form-label">Link Ảnh hoặc video Lesson</label>
    <input type="text" class="form-control" id="createModule" aria-describedby="emailHelp" name="image">
  </div>
  <div class="mb-3">
    <label for="createModule" class="form-label">Bài tập Của khóa học </label>
    <input type="text" class="form-control" id="createModule" aria-describedby="emailHelp" name="course">
  </div>
  <div class="mb-3">
    <label for="createModule" class="form-label">Module Của module </label>
    <input type="text" class="form-control" id="createModule" aria-describedby="emailHelp" name="module">
  </div>
    <div class="mb-3">
    <label for="createModule" class="form-label">Lí thuyết </label>
    <input type="text" class="form-control" id="createModule" aria-describedby="emailHelp" name="theory">
  </div>
   <div class="mb-3">
    <label for="createModule" class="form-label">Bài tập </label>
    <input type="text" class="form-control" id="createModule" aria-describedby="emailHelp" name="exercise">
  </div>
  <div class="row">
      <button type="submit" class="btn btn-primary w-50 col">Tạo thêm bài học</button>
    <a href="/courses" class="btn btn-success col" tabindex="-1" role="button" aria-disabled="true">Next</a>
  </div>

</form>
</div>