<div class="bodyHome  ">
  <div class="bodyHome_slide ">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://hocvienit.vn/wp-content/uploads/2020/09/khoa-hoc-lap-trinh-java-nang-cao.jpg"
            class=" w-100 bodyHome_slide--image" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>KHÓA HỌC TỪ CƠ BẢN TỚI NÂNG CAO</h5>
            <p>DÀNH CHO MỌI NGƯỜI </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://nordiccoder.com/app/uploads/2020/01/58-developer.jpg"
            class="d-block w-100 bodyHome_slide--image" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>LÍ THUYẾT</h5>
            <p>CÔ ĐỌNG DỄ HIỂU</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://product.bachkhoa-aptech.edu.vn:33/resources/upload/image/1200x628-4-.png"
            class="d-block w-100  bodyHome_slide--image" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>VỚI CÁC KHUYẾN MÃI NHÂN DỊP MỞ KHÓA HỌC PREMIUM</h5>
            <p>20-70%</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://niithanoi.edu.vn/pic/News/hoc-lap-trinh-bat-dau-tu-dau.jpg"
            class="d-block w-100  bodyHome_slide--image" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>HƯỚNG DẪN LỘ TRÌNH DỄ DÀNG HỌC TẬP</h5>
            <p>QUA NHIỀU BƯỚC CHẤT LƯỢNG</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="bodyHome_introduct">
    <div id="successPath" class="page-section">
      <div class="container">
        <div class="row step">
          <div class="col-md-4 text-center">
            <img src="https://edube.org/assets/images/step_1.png" alt="Step 1">
          </div>
          <div class="col-md-8">
            <div class="step-content">
              <span class="step-title">Chọn con đường của bạn</span>
              <p class="step-description">Phát triển phần mềm, lập trình cấp cao hay cấp thấp, xây dựng trang web, lập trình GUI, phân tích dữ liệu hay thử nghiệm? Vạch ra các mục tiêu nghề nghiệp của bạn và chọn con đường sự nghiệp phù hợp với bạn. Không chắc chắn bắt đầu từ đâu? Hãy làm bài kiểm tra năng khiếu nghề nghiệp của chúng tôi để tìm ra nghề nghiệp nào phù hợp với kỹ năng và sở thích của bạn. <a href="/career-aptitude-test">career aptitude
                  test</a> để tìm ra những nghề nghiệp phù hợp với kỹ năng và sở thích của bạn.</p>
            </div>
          </div>
        </div>

        <div class="row step">
          <div class="col-md-4 text-center">
            <img src="https://edube.org/assets/images/step_2.png" alt="Step 2">
          </div>
          <div class="col-md-8">
            <div class="step-content">
              <span class="step-title">Làm khóa học</span>
              <p class="step-description">Học lập trình từ đầu – bắt đầu từ những điều cơ bản tuyệt đối và bắt đầu viết mã của riêng bạn trong vòng vài phút sau khi đăng ký khóa học. Biết lập trình chưa? Tìm hiểu các chủ đề nâng cao hơn để có thêm sự tự tin về lập trình, nâng cao kinh nghiệm và mở rộng các kỹ năng của bạn để trở thành một nhà phát triển thành thạo và có năng lực cao.</p>
            </div>
          </div>
        </div>

        <div class="row step">
          <div class="col-md-4 text-center">
            <img src="https://edube.org/assets/images/step_3.png" alt="Step 3">
          </div>
          <div class="col-md-8">
            <div class="step-content">
              <span class="step-title">Chứng nhận kỹ năng của bạn</span>
              <p class="step-description">Tham gia mạng lưới các chuyên gia được chứng nhận và thể hiện chuyên môn lập trình của bạn với thế giới. Nổi bật giữa đám đông, nhận nhiều thử thách bổ ích hơn và cho người khác thấy rằng bạn quan tâm đến sự phát triển của bản thân.</p>
            </div>
          </div>
        </div>

        <div class="row step">
          <div class="col-md-4 text-center">
            <img src="https://edube.org/assets/images/step_4.png" alt="Step 4">
          </div>
          <div class="col-md-8">
            <div class="step-content">
              <span class="step-title">
Thúc đẩy sự nghiệp của bạn</span>
              <p class="step-description">
Trở nên hiệu quả và chính xác hơn trong những gì bạn đang làm, nhận mức lương cao hơn hoặc đơn giản là có được công việc mà bạn hằng mong muốn! Kiếm được một số công nhận xứng đáng cho chuyên môn lập trình của bạn.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bodyHome_member container">
    <h2 class="section-heading">Members</h2>
    <div class="bodyHome_member--member row">
      <div class="member_row row">
        {{#each dataAdmins}}
        <div class="member_row--col col-4 ">
          <img
            class="member_col--avatar"
            src="{{this.image}}"
            alt="">
          <span class="member_col--name">{{this.name}}</span>
          <span class="member_col--intro">
            {{this.introduce}}     

          </span>
        </div>
        {{/each}}
      </div>


    </div>
  </div>

</div>

<a href="/courses">
  <button type="button"
    class="bodyHome_button--learning btn btn-success position-absolute top-50 start-50 translate-middle btn-lg">LEARN
    NOW !!!</button>
</a>

</div>